@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Montserrat', sans-serif !important;
    padding: 0;
    margin: 0;
}

button{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 40px !important;
}


input, textarea, select{
    min-height: 40px;
    border: 1px solid #6a6a6a;
    border-radius: 2px;
}

input:focus{
    outline: none;
    box-shadow: none;
}

a:hover{
    text-decoration: underline !important;
    color: #6a6a6a !important;
}

button:hover{
    text-decoration: none !important;
    background-color: #1B9C85 !important;
}

i {
    font-size: 20px;
}

.ant-form-item-label {
    padding: 0 !important;
}

table {
    border: 1px solid #9f9f9f !important;
}
